
    <section>
        <div class="title">Profile</div>
        <div class="profile-card">
            <div class="content">
                <form action="">
                    team1
                    <input type="text" value="name" placeholder="name">
                    <input type="file" value="team" placeholder="name">
                    <br>
                    <input type="text" value="name" placeholder="name">
                    <input type="file" value="team" placeholder="name">
                    <div class="options">
                        <div class="delete"><a href="/delete">cancel</a></div>
                        <input type="submit" value="Save">
                    </div>
                </form>    
            </div>
        </div>
    </section>

    <br><br><br>
    <br><br><br>
