
    <section class="home" id="home">
        <div class="home-content">
            <div class="image">
                <img src="/images/cup-img.jpg" alt="">
            </div>
            <div class="content">
                <p>Predict and win fda ef efef iefao dolor sit amet, consectetur adipisicing elit. Accusamus rem rerum harum praesentium quidem nisi?</p>
                <a href="">Get up</a>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="about-card">
            <div class="title">About</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi dolorem obcaecati itaque aspernatur odio, earum possimus id nam cupiditate et dolores perspiciatis quisquam molestias! Quaerat repellat animi laboriosam quo aut facere hic, iusto vero dolor modi dicta ipsam autem qui unde incidunt dolore ipsum, commodi neque, amet debitis quam blanditiis!</p>
            <a href="/register"><div class="give give1">JOIN</div></a>
            <div class="give">MORE</div>
        </div>
    </section>
    <section class="us" id="contact">
        <div class="title">who are we ?</div>
        <div class="image">
            <img src="/images/us2.jpeg" alt="">
        </div>
        <div class="contents">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, quaerat voluptates! Nesciunt facilis architecto ut, nemo ipsum fugiat officia beatae at earum vitae voluptatum eius aliquid nostrum aut, voluptate ex!</p>
            <a href="">Connect us</a>
        </div>
        <div class="card-container">
            <div class="card">
                <img class="image" src="/images/miss.jpeg" alt="">
                <div class="content">
                    <h3 class="title">Dimcy Miss</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores vero, cumque alias aliquam quod nobis eligendi ducimus quo! Fuga error illum ut natus veritatis vel quidem, laborum omnis obcaecati molestias?</p>
                </div>
            </div>
        </div>
    </section>
