
    <section class="home" id="home">
        <div class="home-content">
            <div class="title">Register Here : </div>
            <div class="form">
                <form action="" method="post">
                    <input type="text" name="email" placeholder="email">
                    <input type="text" name="password" placeholder="Password">
                    <input type="submit" id="submit">
                </form>
            </div>
        </div>
        <a href="">Already have an account? Login</a>
    </section>
