
    <section style="padding:2re 9%;">
        <div class="title">Points</div>
        <div class="table">
            <div class="member">
                <div class="name">
                    <span>1</span>
                    
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
            <div class="member">
                <div class="name">
                    <span>1</span>
                    <span>Afreedi</span>
                </div>
                <div class="branch">
                    <span>S3</span>
                    <span>CSE</span>
                </div>
                <div class="score">
                    <span>Argentina</span>
                    <span>09</span>
                </div>
            </div>
           
        </div>
    </section>
    <br><br><br>
    <br><br><br>

