
    <section>
        <div class="title">Profile</div>
        <div class="profile-card">
            <div class="image">
                <img src="./profile-pic.png" alt="">
            </div>
            <div class="content">
                <form action="">
                    <input type="text" value="name" placeholder="name">
                    <input type="text" value="team" placeholder="name">
                    <input type="text" value="year & branch" placeholder="name">
                    <input type="text" value="password" placeholder="name">
                    <div class="options">
                        <div class="delete"><a href="/delete">Delete</a></div>
                        <input type="submit" value="Update">
                    </div>
                </form>    
            </div>
        </div>
    </section>

    <br><br><br>
    <br><br><br>
