
    <section class="home" id="home">
        <div class="home-content">
            <div class="title">Register Here : </div>
            <div class="form">
                <form action="/register" method="post">
                    <input type="text" name="name" placeholder="Name">
                    <input type="text" name="team" placeholder="team">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="branch" placeholder="Year & Branch">
                    <input type="text" name="password" placeholder="Password">
                    <input type="submit" id="submit">

                </form>
            </div>
        </div>
        <a href="">Already have an account? Login</a>
    </section>
