<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
   <title>Document</title>
</head>
<body>
    <header>
        <a href="" class="logo"><i class="fas fa-utensils"></i>PREDICT</a>

        <div id="menu-bar" class="fas fa-bars"></div>

        <div class="logout"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></div>

    </header>
    {{{body}}}
    <section class="footer">
        <div class="matches icons"><a href="/home"><i class="fa fa-futbol-o"></i></a></div>
        <div class="points icons"><a href="/points"><i class="fa fa-star" aria-hidden="true"></i></a></div>
        <div class="profile icons"><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></div>
    </section>
    
</body>
</html>
